.title {
  text-align: center;
  /* margin-bottom: 30px; */
  padding-top: 100px;
  font-size: 24px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  /* margin-bottom: 40px; */
  margin-top: -10px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  max-width: 300px;
  position: relative;
}

.card img {
  width: 300px;
  height: 200px !important;
  display: block;
  
}

.card-btn {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.description {
  max-width: 1100px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.7;
  text-align: justify;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 50px auto;
  max-width: 900px;
  flex-wrap: wrap;
}

.stat-card {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 30px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.stat-icon {
  width: 50px;
  margin-bottom: 15px;
}

.google-logo {
  width: 100px;
  margin-bottom: 10px;
}

.stat-card h3 {
  margin: 10px 0;
  font-size: 20px;
}

.stat-card p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

.star {
  color: #f4c542;
  font-size: 18px;
}

